@charset "utf-8";
@import '../../styles/partials/mixin', '../../styles/partials/theme';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6
) {
  [theme='#{$theme}'] {
    @include ThemeTransition;
    background-color: $grayscale-6;
    .login {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      .splash {
        @include FlexCenter;
        flex: 1;

        h1 {
          text-align: center;
          svg {
            path {
              stroke: $grayscale-1;
            }
          }
          & + h2 {
            margin-top: 24px;
          }
        }
        h2 {
          svg {
            path {
              fill: $grayscale-1;
              stroke: $grayscale-1;
            }
          }
        }
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6
  );
}
